---
layout: subpage
title: Blog
headBackground: yellowBg
---
<section class="home-backg backg-projects">
  <div class="subpage-topHeading yellow">
  <h2 class="">Blog</h2>
     <img class="space-shuttle-outline yellow" src="/img/backgrounds/space_shuttle_outlineYellow.png" alt="space shuttle outline" />
    <div class="col-sm-12 page-intro intro-border">
  <h3 class="intro-border">Various ramblings on startups..</h3>
      <div class="bottom-border"></div>
    </div>
  </div>
</section>

  <section class="blog-section">
  <h3 class="col-sm-12">Latest Posts</h3>
  {% for post in site.posts %}
    {% include /list_item.html %}
  {% endfor %}

  <!--<h2>Interviews</h2>
  {% for post in site.categories.foo %}
    {% include /list_item.html %}
  {% endfor %}

  <h2>Case Studies</h2>
  {% for post in site.categories.foo %}
    {% include /list_item.html %}
  {% endfor %}-->

</section>
