---
layout: subpage
title: Blog
headBackground: yellowBg
---
<section class="home-backg backg-projects">
  <div class="subpage-topHeading">
   <div class="page-title">
    <h2>Blog</h2>
    <div class="bottom-border yellow"></div>
    </div>
     <img class="space-shuttle-outline yellow" src="/img/backgrounds/space_shuttle_outlineYellow.png" alt="space shuttle outline" />
    <div class="col-sm-12 page-intro intro-border">
  <p class="lead">Various ramblings on startups..</p>
      <div class="bottom-border yellow"></div>
    </div>
  </div>

</section>

<section class="blog-section">
   <p class="col-sm-12 latest-posts">Latest posts</p>
  <div class="row">
{% for post in site.posts %}
    {% include /list_item.html %}
      {% endfor %}
    </div>



  <!--<h2>Interviews</h2>
  {% for post in site.categories.foo %}
    {% include /list_item.html %}
  {% endfor %}

  <h2>Case Studies</h2>
  {% for post in site.categories.foo %}
    {% include /list_item.html %}
  {% endfor %}-->

</section>
