---
layout: default
title: Blog
---
<section class="home-backg backg-projects backg-blog">
  <div class="overlay">
  <h2>Blog</h2>
  <h3>Various ramblings on startups</h3>
  </div>
</section>
<section class="jumbotron listing w">
  
  <h2>Latest Posts</h2>
  {% for post in site.posts %}
    {% include /list_item.html %}
  {% endfor %}
  
  <h2>Interviews</h2>
  {% for post in site.categories.foo %}
    {% include /list_item.html %}
  {% endfor %}

  <h2>Case Studies</h2>
  {% for post in site.categories.foo %}
    {% include /list_item.html %}
  {% endfor %}
</section>