---
layout: default_newsletter
description: Outsourcing your development doesn't need to be a hassle.
---

<section class="home-backg backg">
  <div class="overlay">
    <h2>Making ideas happen</h2>
    <h3>We help you build technology products.</h3>
  </div>
</section>
<section class="jumbotron i w">
  <div class="container">
    <p class="lead left-paragraph">silicon rhino is your strategic technology team. We act both as your cto and outsourced technology resource. We handle all aspects of software development - planning, architecture and implementation of your web and mobile development projects.</p>
    <p class="left-paragraph">Many years of experience in the developing and growing companies enables us to understand all of your business needs, both big and small. We pride ourselves on using the latest technologies available for software and infrastructure to provide you with the best solution at the lowest running cost.</p>
  </div>
</section>
<section class="jumbotron i w">
  <div class="col-sm-6">
    <p class="title">We specialise in crafting systems to help you kickstart your business</p>
  </div>
  <div class="col-sm-6">
    <img class="project-image" src="/img/projects/cartap_imac.png" alt="Cartap" title="Cartap">
  </div>
</section>
<section class="jumbotron quote testimonial i w">
  <h2>What it's like to work with us</h2>
  <div class="quote_carousel" data-slick='{"autoplay": true, "autoplaySpeed": 8000}'>
    <div>
      <blockquote class="left-paragraph">Phil and Roger were able to understand what I needed and were able to outline a number of different options to help me move on from the MVP stage.</blockquote>
      <img src="/img/testimonials/adam_gopogo.png" />
      <h3>Adam Masojada</h3>
      <h4>Founder of <a href="http://www.gopogo.co/" target="_blank">Gopogo</a></h4>
    </div>
    <div>
      <blockquote class="left-paragraph">We can not recommend Silicon Rhino highly enough.</blockquote>
      <img src="/img/testimonials/acre.jpg" />
      <h3>Lee Birkin & Rob Norman</h3>
      <h4>Founders of <a href="https://www.acrepictures.com" target="_blank">acre</a></h4>
    </div>
    <div>
      <blockquote class="left-paragraph">Silicon Rhino delivered on time, to spec and with excellent communication and updates along the way.</blockquote>
      <img src="/img/testimonials/adam_ignition.png" />
      <h3>Adam Brodie</h3>
      <h4>Founder of <a href="http://ignition.financial/" target="_blank">Ignition Financial</a></h4>
    </div>
    <div>
      <blockquote class="left-paragraph">Working with Silicon Rhino was simple, cost effective and productive.</blockquote>
      <img src="/img/testimonials/3sixty1.jpg" />
      <h3>Lewis English</h3>
      <h4>Marketing Manager at 361 Degrees</h4>
    </div>
  </div>
 </section>
<section class="jumbotron i w">
  <h2>What can we do for you?</h2>
</section>
<section class="jumbotron w choice">
  
  <div class="col-xs-6 blue">
    <a href="/founder">
      <h2>I'm a Founder</h2>
    </a>
  </div>
  <div class="col-xs-6 gray">
    <a href="/business">
      <h2>I'm in a Business</h2>
    </a>
  </div>
</section>

<section class="jumbotron i ryan">
  <div class="container">
    <h2>Fluid experience</h2>
    <p class="left-paragraph">We understand outsourcing your development is not easy. We believe that successful partnership is built on a foundation of communication and trust. We act as an extension of your team so you'll have full access to us on the channels that work best for you.</p>
    <div class="fluid_service">
      <img src="/img/slack.jpg" alt="Slack" title="Slack">
      <h3>Slack</h3>
      <p dir="ltr">Live chat, send us files, give us feedback... we will be there.<p>
    </div>
    <div class="fluid_service">
      <img src="/img/skype.png" alt="Skype" title="Skype">
      <img src="/img/hangouts.png" alt="Google Hangouts" title="Google Hangouts">
      <h3>Skype & Google Hangouts</h3>
      <p dir="ltr">Want to talk to us? We are only a video call away.<p>
    </div>
  </div>
</section>
<section class="home-backg backg-projects backg-small">
  <div class="overlay">
    <h2><a href="/projects">See some of the projects we've worked on</a></h2>
  </div>
</section>
<section class="jumbotron  home listing w">
  <h2>Or read some of our ramblings on startups & technology</h2>
  {% for post in site.posts %}
    {% include /list_item.html %}
  {% endfor %}
 </section>

<section class="jumbotron quote i">
  <div class="container twitter">

    <div>
    <div id="tweecool"></div>
    </div>

  </div>
</section>