---
layout: hijack_scroll
description: Outsourcing your development doesn't need to be a hassle.
---

<section class="home-backg backg cd-section visible">
  <div class="overlay">
      <div class="row">
          <div class="container">            
                <div class="col-sm-6">
              <div class="house-frontpage"><img src="/img/backgrounds/house_front_1.png" alt="house" title="house"></div>
          </div>

      <div class="col-sm-6">
    <h2>At Silicon Rhino we help build <span class="orangeText">amazing</span> companies...</h2>
    <h3>Our experience in startups and technology allows us to</h3>
        </div>
          </div>
          </div>
 
  </div>
</section>
<section class="jumbotron i w cd-section">
  <div class="container">
    <p class="lead left-paragraph">silicon rhino is your strategic technology team. We act both as your cto and outsourced technology resource. We handle all aspects of software development - planning, architecture and implementation of your web and mobile development projects.</p>
    <p class="left-paragraph">Many years of experience in the developing and growing companies enables us to understand all of your business needs, both big and small. We pride ourselves on using the latest technologies available for software and infrastructure to provide you with the best solution at the lowest running cost.</p>
  </div>
</section>
<section class="jumbotron image-and-caption i w cd-section">
  <div class="col-sm-6 caption">
    <p class="title">We specialise in crafting systems to help you kickstart your business</p>
  </div>
  <div class="col-sm-6">
    <img class="project-image" src="/img/projects/cartap_imac.png" alt="Cartap" title="Cartap">
  </div>
</section>

<section class="jumbotron i w">
  <h2>What can we do for you?</h2>
</section>
<section class="jumbotron w choice">
  
  <div class="col-xs-6 blue">
    <a href="/founder">
      <h2>I'm a Founder</h2>
    </a>
  </div>
  <div class="col-xs-6 gray">
    <a href="/business">
      <h2>I'm in a Business</h2>
    </a>
  </div>
</section>

<section class="jumbotron i ryan">
  <div class="container">
    <h2>Fluid experience</h2>
    <p class="left-paragraph">We understand outsourcing your development is not easy. We believe that successful partnership is built on a foundation of communication and trust. We act as an extension of your team so you'll have full access to us on the channels that work best for you.</p>
    <div class="fluid_service">
      <img src="/img/slack.jpg" alt="Slack" title="Slack">
      <h3>Slack</h3>
      <p dir="ltr">Live chat, send us files, give us feedback... we will be there.<p>
    </div>
    <div class="fluid_service">
      <img src="/img/skype.png" alt="Skype" title="Skype">
      <img src="/img/hangouts.png" alt="Google Hangouts" title="Google Hangouts">
      <h3>Skype & Google Hangouts</h3>
      <p dir="ltr">Want to talk to us? We are only a video call away.<p>
    </div>
  </div>
</section>
<section class="home-backg backg-projects backg-small">
  <div class="overlay">
    <h2><a href="/projects">See some of the projects we've worked on</a></h2>
  </div>
</section>
<section class="jumbotron  home listing w">
  <h2>Or read some of our ramblings on startups & technology</h2>
  {% for post in site.posts %}
    {% include /list_item.html %}
  {% endfor %}
 </section>

<section class="jumbotron quote i">
  <div class="container twitter">

    <div>
    <div id="tweecool"></div>
    </div>

  </div>
</section>

<nav>
		<ul class="cd-vertical-nav">
			<li><a href="#0" class="cd-prev inactive">Next</a></li>
			<li><a href="#0" class="cd-next">Prev</a></li>
		</ul>
	</nav> <!-- .cd-vertical-nav -->