---
layout: subpage
title: What we do
headBackground: blueBg
redirect_from:
  - /services/
  - /founder/
  - /business/
---
<section class="home-backg backg-projects">
	<div class="subpage-topHeading blue">
		<div class="page-title">
			<h2>What we do</h2>
			<div class="bottom-border blue"></div>
		</div>
		<img class="space-shuttle-outline blue" src="/img/backgrounds/shuttle-outline-blue.svg" alt="space shuttle outline"
		/>
	</div>
</section>
<section class="container">
	<div class="col-sm-12 page-intro">
		<p class="lead">What we really love is helping other startups bring their ideas to life, and everything we do as a business stems from
			this desire to help others. We care about making every project a success, and pour all of our expertise into each one.
			We feel this is what sets us apart from other services. Take a look at some of the ways we can help you.</p>
		<div class="bottom-border blue"></div>
	</div>
	</div>
</section>


<section class="services">
	<div class="container">
		<div class="services-wrap">
			<div class="col-sm-5 service">
				<label class="blue-border">Minimum viable products</label>
				<div class="blue-border services-wrap-image-box">
					<div id="mvpSvg">
                    {% include mvp_svg.html %}
                  </div>
                </div>
			</div>

			<div class="col-sm-7 service-description mvp blue">
				<h3>Get your idea off the ground</h3>
				<div class="services-wrap-content">
					<p>As a new business you'll be aiming to get something of quality out the door as soon as you can. Whether you need a proof
						of concept, your first public release, or something in between, we can help you achieve your goals.</p>
					<div class="help-list">
						<ul class="rhino-bullets">
                          <div class="col-sm-6">
							<li>We've been on the journey</li>
							<li>We help build the right features</li>
							<li>We know how to scale</li>
							<li>We keep running costs and maintenance low</li>
						  </div>
						  <div class="col-sm-6">
							<li>We can identify problems early</li>
							<li>We're agile in the way we work</li>
							<li>We believe anything is possible</li>
                          </div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="services-wrap">
			<div class="col-sm-5 service">
				<label class="yellow-border">Bespoke Systems</label>
				<div class="yellow-border services-wrap-image-box">
          <div id="bespokeSvg">
            <div id="smallWheel">
              {% include wheel.html %}
            </div>
            <div id="bigWheel">
              {% include wheel.html %}
            </div>
          </div>
				</div>
			</div>

			<div class="col-sm-7 col-sm-landscape-7 service-description bespoke yellow">
				<h3>Beautifully tailored software solutions</h3>
				<div class="services-wrap-content">
					<p>With over 15 years of production experience within the team, we can offer software ranging from social platforms and
						content management to video production software. We bring a level of expertise essential for building business applications.
						We can help you with:</p>
					<div class="help-list">
						<ul class="rhino-bullets">
                          <div class="col-sm-6">
							<li>Web apps</li>
							<li>APIs (REST etc)</li>
							<li>Complex business systems</li>
							<li>Interactive experiences</li>
							<li>E-commerce</li>
                          </div>
                          <div class="col-sm-6">
							<li>Third party software integrations</li>
							<li>Data visuals</li>
							<li>Automated processing</li>
							<li>Video processing</li>
                          </div>
						</ul>
					</div>
				</div>
			</div>
		</div>

      <span class="ctaContainer"><a class="cta blue" href="/how-we-work">Take a look at our process</a></span>

		<div class="services-wrap">
			<div class="col-sm-5  service">
				<label class="blue-border">Websites</label>
				<div class="blue-border services-wrap-image-box"> <div id="websiteSvg">
                    {% include website_svg.html %}
                  </div>
				</div>
			</div>

			<div class="col-sm-7 service-description web blue">
				<h3>Take your online presence to the next level</h3>
				<div class="services-wrap-content">
					<p>We take you through a collaborative process from brief and design, to implementation and iteration, to build the perfect
						website for your needs.</p>
					<div class="help-list">
						<ul class="rhino-bullets">
                          <div class="col-sm-6">
                            <li>Squarespace/WordPress</li>
							<li>Marketing websites</li>
							<li>Blogs</li>
							<li>UX</li>
						  </div>
                          <div class="col-sm-6">
							<li>E-commerce</li>
							<li>Custom design</li>
							<li>Highly scalable</li>
                          </div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="services-wrap">
			<div class="col-sm-5 service">
				<label class="blue-border">Mobile Apps</label>
				<div class="blue-border services-wrap-image-box">
                  <div id="appSvg">
                    {% include app_svg.html %}
                  </div>
                </div>
			</div>
			<div class="col-sm-7 service-description app blue">
				<h3>Take your software to the mobile platforms</h3>
				<div class="services-wrap-content">
					<p>From idea to launch day we'll work together to bring the vision of your app to life. Our fluid workflow will allow you
						to talk to us, give feedback on design, and much more in real time. We hate missing deadlines so will work hard to
						help you meet yours.</p>
					<div class="help-list">
						<ul class="rhino-bullets">
                          <div class="col-sm-12">
							<li>iOS & Android</li>
							<li>Native hybrid</li>
							<li>Web Hybrid</li>
                          </div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% include form.html %}
