<footer>
    <a class="getInTouch" href="/contact" target="_top">GET IN TOUCH</a>
          <div class="circles">
            <div>
                <a href="mailto:hi@siliconrhino.io" target="_blank"><img src="/img/email_w.png" alt="Email us" title="Email us"> </a>
            </div>
            <div>
                <a href="https://twitter.com/siliconrhino" target="_blank"><img src="/img/twitter_w.png" alt="Follow us on Twitter" title="Follow us on Twitter"> </a>
            </div>
            <div>
                <a href="https://medium.com/@SiliconRhino" target="_blank"><img src="/img/medium_w.png" alt="Read us" title="Read us"> </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/company/silicon-rhino" target="_blank"><img class="linkedin" src="/img/linkedin_w.png" alt="Follow us on Linkedin" title="Follow us on Linkedin"> </a>
            </div>
            <div>
                <a href="https://github.com/siliconrhino" target="_blank"><img class="github" src="/img/github_w.png" alt="Follow us on Github" title="Follow us on Github"> </a>
            </div>
        </div>
</footer>

