<!-- build:js(app) /js/vendor.js -->
<!-- bower:js -->
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="/_bower_components/rrssb/js/rrssb.js"></script>
<script src="/_bower_components/slick-carousel/slick/slick.js"></script>
<script src="/_bower_components/velocity/velocity.js"></script>
<script src="/_bower_components/velocity/velocity.ui.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(app) /js/scripts.js -->
<script src="/js/tweecool.js"></script>
<script src="/js/velocity.min.js"></script>
<script src="/js/velocity.ui.min.js"></script>

<script src="/js/main_scroll.js"></script>
<script src="/js/vertical_menu.js"></script>
<script src="/js/modernizr.js"></script>


<!-- endbuild -->

<script>
    (function () {
        var qs, js, q, s, d = document,
            gi = d.getElementById,
            ce = d.createElement,
            gt = d.getElementsByTagName,
            id = 'typef_orm',
            b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
        if (!gi.call(d, id)) {
            js = ce.call(d, 'script');
            js.id = id;
            js.src = b + 'share.js';
            q = gt.call(d, 'script')[0];
            q.parentNode.insertBefore(js, q)
        }
    })()
</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>