
<div class="header homepage {{page.headBackground}}">
    <div class="">
        <a class="logo white" href="/"> <img src="/img/logo_w.png" alt="silicon rhino logo"></a>
        <button id="menu" class="">
            <span>toggle menu</span>
        </button>
        <ul class="main-links">
            <li><a href="/services">Services</a> </li>
            <li><a href="/projects">Portfolio</a> </li>
            <li><a href="/contact">Contact</a> </li>
        </ul>
    </div>
</div>

<div class="menu">
    
    <div class="right">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/founder">For Founders</a> </li>
            <li><a href="/business">For Businesses</a> </li>
            <li><a href="/projects">Projects</a> </li>
            <li><a href="/blog">Blog</a> </li>
            <li><a href="/about">About</a> </li>
            <li><a href="/contact">Contact</a> </li>
        </ul>
        <div class="circles">
            <div>
                <a href="mailto:hi@siliconrhino.io" target="_blank"><img src="/img/email_w.png" alt="Email us" title="Email us"> </a>
            </div>
            <div>
                <a href="https://twitter.com/siliconrhino" target="_blank"><img src="/img/twitter_w.png" alt="Follow us on Twitter" title="Follow us on Twitter"> </a>
            </div>
            <div>
                <a href="https://medium.com/@SiliconRhino" target="_blank"><img src="/img/medium_w.png" alt="Read us" title="Read us"> </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/company/silicon-rhino" target="_blank"><img class="linkedin" src="/img/linkedin_w.png" alt="Follow us on Linkedin" title="Follow us on Linkedin"> </a>
            </div>
            <div>
                <a href="https://github.com/siliconrhino" target="_blank"><img class="github" src="/img/github_w.png" alt="Follow us on Github" title="Follow us on Github"> </a>
            </div>
        </div>
    </div>
</div>
