<div class="header {{page.headBackground}}">
  <div class="homepage">
    <a id="logo" class="logo white" href="/">
      <img src="/img/logo_w.png" alt="silicon rhino logo"
    /></a>
    <button id="menu" class="">
      <span>toggle menu</span>
    </button>
  </div>
  <div class="main-menu">
    <a class="cta" href="/contact/">Get A Quote</a>
    <div class="drawer">
      <ul class="menu-list">
        <li><a href="/what-we-do/">What we do</a></li>
        <li><a href="/how-we-work/">How we work</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/careers/">Careers</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <div id="menu-toggle">
      <div class="hamburger">
        <span class="hamburger-first"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </div>
      <div class="cross">
        <span class="cross-first"></span>
        <span class="cross-second"></span>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="menu">
    <div class="right homepage">
      <ul>
        <li><a href="/what-we-do/">What we do</a></li>
        <li><a href="/how-we-work/">How we work</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/careers/">Careers</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div class="menu">
    <div class="right homepage">
      <ul>
        <li><a href="/what-we-do/">What we do</a></li>
        <li><a href="/how-we-work/">How we work</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/careers/">Careers</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
