
<section class="home-backg backg-projects">
  <div class="subpage-top-heading-left">
    <div class="heading-left bold">
      <span>{{title}}</span>
    </div>
    <img
      class="space-shuttle-outline blue"
      src="/img/backgrounds/shuttle-outline-blue.svg"
      alt="space shuttle outline"
    />
    <div class="description-left bold">
      <p>
        {{description}}
      </p>
    </div>
  </div>
</section>
<section>
  <div class="about-project-section">
    <div class="about-project-block">
      {% for title in about_title %}
    <div class="about-project bold">
    <div class="about-title">{{ title }}</div>
    <div class="about-info">{{about_desc[forloop.index0]}}</div>
    </div>
     {% endfor %}
    </div>
  <div class="carousel-wrapper" style="{{carousel-position}}">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carousel-item item-1">
    <img class="carousel-img" src="{{carousel-img1}}"/>
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>

  <div class="carousel-item item-2">
     <img class="carousel-img" src="{{carousel-img1}}"/>
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>

  <div class="carousel-item item-3">
     <img class="carousel-img" src="{{carousel-img1}}"/>
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>
</div>

  </div>

</section>

<section class="phases-section">
  <div class="project-phases top">
    <div class="phases-text top">
      <span class="phase-info main green">Phase 1</span>
    </br>
      <span class="phase-info green">{{phase1-heading}}</span>
      <p class="phase-desc bold">{{phase1-desc}}</p>
    </div>
    <div class="phases-text top">
      <span class="phase-info main green">Phase 2</span>
      </br>
      <span class="phase-info green">{{phase2-heading}}</span>
      <p class="phase-desc bold">{{phase2-desc}}</p>
    </div>
  </div>

  <div class="img-bubble" style="background-image: url({{phase-img}});">
  </div>

  <div class="project-phases bottom">
    <div class="phases-text bottom">
      <span class="phase-info main green">Phase 3</span>
      </br>
      <span class="phase-info green">{{phase3-heading}}</span>
      <p class="phase-desc bold">{{phase3-desc}}</p>
    </div>
    <div class="phases-text bottom">
      <span class="phase-info main green">Phase 4</span>
      </br>
      <span class="phase-info green">{{phase4-heading}}</span>
      <p class="phase-desc bold">{{phase4-desc}}</p>
    </div>
  </div>
</section>
<section>
  <div class="counter">
  {% for icon in counter_icon%}
  <div class="counter-block" >
    <img class="counter_icon" src="{{icon}}"/>
    <span class="counter_number bold" >{{counter_number[forloop.index0]}}</span>
    <span class="counter_label bold">{{counter_label[forloop.index0]}}</span>
  </div>
  {% endfor %}
</div>
</section>
<section class="quote-section">
  <div class="project-quote">
    <div class="quote bold">
      <span><i>{{quote}}</i></span>
    </div>
    <div class="project-client">
      <img class="client-img" src="{{client-img}}" />
      <div class="client-info">
        <span class="bold">{{client-name}}</span>
        <span class="client-title">{{client-title}}</span>
      </div>
    </div>
  </div>
</section>
