@import "_layout.scss";
.blog-section.careers {
  h2,
  h3 {
    clear: both;
    text-align: left;
    display: inline-block;
    margin: 30px 6px 0 0;
    width: auto;

    & + p {
      display: inline;
    }
  }

  h2 + h3 {
    display: block;
  }

  .blog-img {
    background-size: contain;
  }
}
ul.benefits {
  text-align: left;
  line-height: 35px;
  margin: 20px 0;
}
.careers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.career-benefits {
  font-size: 2rem;
  text-align: left;
  height: 300px;
  padding-top: 20px;
}
.col {
  width: 100%;
  text-align: left;
  margin: 20px auto;
}
@include MQ(L) {
    .careers-container{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .col{
    width: 32% !important;
    }
}
@include MQ(M) {
    .col{
    width: 50%;
    }
}