.casestudy {
  .case-study-before-fold {
    height: calc(100vh - 50px);
    max-height: 700px;
    padding: 70px 50px 0 50px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 73px;
    padding-top: 30px;
  }
  h2 {
    font-size: 26px;
    line-height: 37px;
    max-width: 620px;
    margin-bottom: 30px;
  }
  .case-highlights {
    position: relative;
    width: 100vw;
    padding: 0;
    margin-left: -50px;
    li {
      list-style: none;
      @include display-flex;
      margin-bottom: 5px;
      font-size: 22px;
      span {
        &:nth-child(odd){
          display: block;
          background-color: $darkbluestone;
          width: 280px;
          padding: 5px 5px 5px 50px;
          color: $blue;
          margin-right: 5px;
          text-transform: uppercase;
        }
        &:nth-child(even){
          display: block;
          background-color: $darkbluewhale;
          flex-grow: 1;
          padding: 5px 5px 5px 15px;
        }
      }
    }
  }
  .stage-wrapper {
    background-image: url('../img/casestudy/bubble-kids.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .polygon-cut {
    background-color: $darkbluestone;
    height: 150px;
    display: block;
  }
  .polygon-wrapper {
    &.before {
      .polygon-cut {
        &.top {
          -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
          clip-path: polygon(0 50%, 0% 100%, 100% 100%);
        }
        &.bottom {
          -webkit-clip-path: polygon(100% 0, 0 0, 100% 50%);
          clip-path: polygon(100% 0, 0 0, 100% 50%);
          margin-bottom: 100px;
        }
      }
    }
    &.after {
      .polygon-cut {
        &.top {
          -webkit-clip-path: polygon(100% 50%, 0 100%, 100% 100%);
          clip-path: polygon(100% 50%, 0 100%, 100% 100%);
        }
        &.bottom {
          -webkit-clip-path: polygon(0 50%, 0 0%, 100% 0%);
          clip-path: polygon(0 50%, 0 0%, 100% 0%);
        }
      }
    }
  }
  .stage-item  {
    height: 230px;
    background-color: $darkbluestone;
    @include display-flex;
    @include justify-content(center);
    > div {
      max-width: 400px;
      margin: 0 40px 0 40px;
      z-index: 1;
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
    &.first {
      > div {
        &:first-of-type {
          margin-top: -25px;
        }
        &:last-of-type {
          margin-top: 25px;
        }
      }
    }
    &.second {
      > div {
        &:first-of-type {
          margin-top: 25px;
        }
        &:last-of-type {
          margin-top: 0;
        }
      }
    }
    h3 {
      text-transform: uppercase;
      color: $blue;
    }
  }
  .technology-wrapper {
    height: 700px;
    position: relative;
    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: -20px auto 80px auto;
    }
  }
  .rocket-wrapper {
    background-image: url('../img/backgrounds/shuttle-outline-blue.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    height: 290px;
    width: 540px;
    margin: auto;
    position: absolute;
    left: calc(50% - 275px);
    bottom: 165px;
  }
  .technology-wrapper {
    img {
      height: 40px;
      width: auto;
      margin: 0 20px 0 20px;
    }
    margin-bottom: 70px;
  }
  .techologies {
    @include display-flex;
    @include justify-content(center);
    &.before {

    }
    &.after {
      height: 100%;
      @include display-flex;
      @include align-items(flex-end);
      padding-bottom: 170px;
    }
  }
  .tech-left {
    @include display-flex;
    @include justify-content(flex-end);
    width: 50%;
    margin-right: 40px;
  }
  .tech-right {
    @include display-flex;
    @include justify-content(flex-start);
    width: 50%;
    margin-left: 40px;
  }
  .odometer-icon {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    height: 150px;
    width: 150px;
    background-color: $blue;
    color: $darkblue;
    border-radius: 50%;
    margin-bottom: 50px;
    i {
    font-size: 80px;
    }
  }
  .odometer-section {
    padding: 100px 0 100px 0;
    @include display-flex;
    @include justify-content(center);
    background-color: $darkbluestone;
  }
  .odometer-wrapper {
    margin: 0 40px 0 40px;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    font-family: $text-font;
  }
  .odometer-digit {
    font-size: 70px;
    line-height: 70px;
    font-family: $text-font;
  }
  .odometer {
    margin-bottom: 10px;
  }
  .odometer-formatting-mark {
    display: none;
  }
  .number-info {
    font-size: 14px;
  }
  .client-quote-wrapper {
    background-color: $blue;
  }
  .client-quote {
    padding: 50px 0 50px 0;
    max-width: 900px;
    margin: auto;
    p {
      font-size: 45px;
      text-align: center;
    }
  }
  .carousel {
    width: 289.19px;
    left: 15px;
  }
  .phone-wrapper {
    background-image: url('../img/casestudy/phone-frame.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 524.25px;
    width: 322.19px;
    position: absolute;
    z-index: 1;
  }
  .app-carousel {
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 13%;
    transform: rotate(3deg);
  }
  .carousel-inner {
    top: 24px;
  }
  .carousel-indicators {
    bottom: -76px;
  }
  .app-img {
    height: 470.25px;
    width: 263.19px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    &.first {
      background-image: url('../img/casestudy/bubble-app-screen-1.png');
    }
    &.second {
      background-image: url('../img/casestudy/bubble-app-screen-2.png');
    }
  }
  .app-screen-shots {
    padding: 100px 0 100px 0;
    @include display-flex;
    @include justify-content(center);
  }
  .app-screenshot {
    height: 470.25px;
    width: 263.19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 40px 0 40px;
    @include box-shadow;
    &.first {
      background-image: url('../img/casestudy/bubble-app-screen-1.png');
      margin-top: 50px;
      transform: rotate(-3deg);
    }
    &.second {
      background-image: url('../img/casestudy/bubble-app-screen-2.png');
    }
    &.third {
      background-image: url('../img/casestudy/bubble-app-screen-1.png');
      margin-top: 50px;
      transform: rotate(3deg);
    }
  }
  .contact-cta {
    background-color: $darkbluestone;
    padding: 100px 20px 100px 20px;
    text-align: center;
    h2 {
      margin-left: auto;
      margin-right: auto;
    }
    a {
      font-size: 20px;
    }
  }
  footer {
    margin-top: 0;
  }
}
