.subpage-top-heading-left {
  margin-top: 0 !important;
  padding-top: 150px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 40px;
  width: 450px;
}
.heading-left {
  font-size: 65px;
  text-transform: uppercase;
}
.description-left {
  font-size: 18px;
}
.about-project-section {
  height: 300px;
}

.about-project {
  display: flex;
  margin-top: 10px;
}
.about-title {
  background-color: #172646;
  color: $blue;
  font-size: 24px;
  width: 250px;
  text-align: left;
  padding-left: 40px;
}
.about-info {
  background-color: #212c4a;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 24px;
  width: 100%;
}

.project-phases {
  background-color: #212c4a;
  display: flex;
  flex-direction: row;
  height: 40vh;
  margin-left: -40px;
  width: 110%;
  align-items: center;

  &.top {
    margin-top: 25vh;
    transform: rotate(5deg);
  }
  &.bottom {
    transform: rotate(-5deg);
    margin-bottom: 100px;
    margin-top: -65px;
  }
}
.phases-text {
  width: 50vw;
  &.top {
    transform: rotate(-5deg);
    padding-bottom: 50px;
  }
  &.bottom {
    transform: rotate(5deg);
    padding-top: 50px;
    float: right;
  }
  &.first {
    margin-left: 140px;
  }
}
.green {
  color: $blue;
}
.phase-info {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  &.main {
    font-size: 38px;
  }
}
.phase-desc {
  padding-top: 30px;
  font-size: 16px;
  line-height: 18px;
  width: 35vw;
}

.img-bubble {
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 60vh;
  margin-top: -65px;
}
.quote-section {
  margin-top: 50px;
  //height: 300px;
  color: white;
  background-color: $blue;
}
.project-quote {
  display: flex;
  flex-direction: row;
  padding: 40px 10px;
  padding-left: 50px;
}
.project-client {
  display: flex;
  width: 35vw;
  padding-top: 10vh;
  padding-left: 10vw;
  //justify-content: flex-end;
}

.quote {
  width: 65vw;
  padding-left: 100px;
  font-size: 46px;
}
.client-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.client-info {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 5px;
}
.bold {
  font-weight: 700;
}
.client-title {
  font-size: 16px;
}

//carousel
.carousel-wrapper {
  height: min-content;
  position: relative;
  width: 244px;
  background-color: transparent;
  left: 60%;
  > img.phone-img {
    z-index: 100;
  }
}
.carousel-item {
  height: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 17px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.carousel-img {
  width: 212px;
  height: auto;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-size: cover;
}
.item-2 {
  background-size: cover;
}
.item-3 {
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
.counter {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
  padding-bottom: 150px;
}
.counter-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}
.counter_icon {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.counter_label {
  padding: 0;
  font-size: 24px;
  margin-right: auto;
  margin-left: auto;
}
.counter_number {
  padding-top: 50px;
  font-size: 70px;
  line-height: 70px;
}
.project-image-wrapper {
  padding-top: 10vh;

  padding-bottom: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project-image {
  width: 10vw;
  height: 37vh;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-heading {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  padding-top: 100px;
  &.left {
    text-align: left;
  }
}
.project-description {
  padding-top: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 700;
  &.left {
    text-align: left;
    > p {
      padding-bottom: 20px;
    }
  }
}
.info-wrapper {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  background-color: #172646;
  overflow-x: hidden;
}
.laptop-image {
  width: 60vw;
  height: auto;
}
.cta-button {
  background-color: $blue;
  padding: 10px 45px;
  font-size: 18px;
  font-weight: 700;
}
.info-text {
  padding-left: 140px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .project-page {
    width: fit-content;
  }
  .about-project-section {
    height: min-content;
  }
  .subpage-top-heading-left {
    width: 90%;
  }
  .carousel-wrapper {
    height: 300px;
    position: relative;
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
  .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
  .project-phases {
    background-color: #212c4a;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-left: 0px;
    width: 100%;
    &.top {
      margin-top: 0;
      transform: none;
    }
    &.bottom {
      transform: none;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .phases-text {
    padding: 40px;
    //padding-top: 60px;
    width: 85%;
    &.top {
      transform: none;
    }
    &.bottom {
      transform: none;
    }
  }
  .img-bubble {
    background-repeat: no-repeat;
    background-size: 120% 300px;
    margin-left: -20%;
    height: 300px;
    margin-top: 0;
  }

  .project-quote {
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .quote {
    width: 100%;
    padding-left: 40px;
    font-size: 26px;
  }
  .quote-section {
    margin-top: 0;
    //height: 300px;
    color: white;
    background-color: $blue;
  }
  .project-client {
    padding-top: 30px;
    padding-left: 60%;
    width: 100%;
    float: right;
  }
  .client-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .client-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0;
  }
  .bold {
    font-weight: 700;
  }
  .client-title {
    font-size: 14px;
  }
  .counter {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .counter-block {
    width: 100%;
    padding-bottom: 80px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .project-page {
    width: fit-content;
  }
  .about-project-section {
    height: min-content;
  }
  .subpage-top-heading-left {
    width: 90%;
  }
  .carousel-wrapper {
    height: 300px;
    position: relative;
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
  .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
  .project-phases {
    background-color: #212c4a;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-left: 0px;
    width: 100%;
    &.top {
      margin-top: 0;
      transform: none;
    }
    &.bottom {
      transform: none;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .phases-text {
    padding: 40px;
    //padding-top: 60px;
    width: 85%;
    &.top {
      transform: none;
    }
    &.bottom {
      transform: none;
    }
  }
  .img-bubble {
    background-repeat: no-repeat;
    background-size: 120% 300px;
    margin-left: -20%;
    height: 300px;
    margin-top: 0;
  }

  .project-quote {
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .quote {
    width: 100%;
    padding-left: 40px;
    font-size: 26px;
  }
  .quote-section {
    margin-top: 0;
    //height: 300px;
    color: white;
    background-color: $blue;
  }
  .project-client {
    padding-top: 30px;
    padding-left: 60%;
    width: 100%;
    float: right;
  }
  .client-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .client-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0;
  }
  .bold {
    font-weight: 700;
  }
  .client-title {
    font-size: 14px;
  }
  .counter {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .counter-block {
    width: 100%;
    padding-bottom: 80px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .project-page {
    width: fit-content;
  }
  .about-project-section {
    height: min-content;
  }
  .subpage-top-heading-left {
    width: 90%;
  }
  .carousel-wrapper {
    height: 300px;
    position: relative;
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
  .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
  .project-phases {
    background-color: #212c4a;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-left: 0px;
    width: 100%;
    &.top {
      margin-top: 0;
      transform: none;
    }
    &.bottom {
      transform: none;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .phases-text {
    padding: 40px;
    //padding-top: 60px;
    width: 85%;
    &.top {
      transform: none;
    }
    &.bottom {
      transform: none;
    }
  }
  .img-bubble {
    background-repeat: no-repeat;
    background-size: 120% 300px;
    margin-left: -20%;
    height: 300px;
    margin-top: 0;
  }

  .project-quote {
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .quote {
    width: 100%;
    padding-left: 40px;
    font-size: 26px;
  }
  .quote-section {
    margin-top: 0;
    //height: 300px;
    color: white;
    background-color: $blue;
  }
  .project-client {
    padding-top: 30px;
    padding-left: 60%;
    width: 100%;
    float: right;
  }
  .client-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .client-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0;
  }
  .bold {
    font-weight: 700;
  }
  .client-title {
    font-size: 14px;
  }
  .counter {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .counter-block {
    width: 100%;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .phases-section {
    overflow: hidden;
  }
  .img-bubble {
    height: 60vh;
    margin-top: -95px;
  }
  .project-phases {
    &.bottom {
      margin-top: -95px;
    }
  }
}
