@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300';
$icon-font-path: '../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$darkblue: #0E1A35;
$darkbluestone: #172646;
$darkbluewhale: #202D4A;
$yellow: #F39237;
$darkgray: #50514F;
$black: #343434;
$white: #fcfcfc;
$blue: #008190;

$title-font: 'Roboto Condensed', sans-serif;
$text-font: 'Roboto Condensed', sans-serif;
$primary-font: 'Roboto Condensed', sans-serif;
