@import 'variables.scss';

.backg-projects .overlay {
  span.meta {
    text-align: right;
    color: $gray;
    font-family: $title-font;
    font-weight: 100;
    font-size: 20px;
  }
}


.post-container {
	max-width: 700px;
	width: 95%;
	margin: 50px auto;
	
	h1 {
		text-align: center;
	}
  
  iframe {
    margin: 30px auto !important;
  }
	
	p {
		margin: 0 0 20px;
		font-size: 16px;
		line-height: 1.5em;
		letter-spacing: 0.05em;
		
		a {
			color: $blue;
			font-weight: bold;
		}
    
    .join-waitlist {
      margin: 40px auto 40px;
      display: block;
      color: $blue;
			font-weight: bold;
      
      &:hover {
        color: $white;
      }
    }
	}
	
	p.meta {
		text-align: right;
    font-size: 14px;
	}
	
	img {
		margin: 30px auto;
    display: block;
    width: 100%;
	}
  
  .post {
    h2 {
      text-align: center;
      position: relative;
      padding: 30px 0;
      margin: 50px 0;
      color: $darkgray;
      
      &::before, &::after {
        width: 60%;
        height: 1px;
        background-color: $gray;
        content: '';
        position: absolute;
        left: 20%;
      }
      
      &::before {
        top: 0;
      }
      
      &::after {
        bottom: 0;
      }
    }
    
    h3 {
      font-weight: bold;
      color: $black;
      margin: 30px 0;
    }
  }
}

.rrssb-buttons {
	max-width: 400px;
	width: 100%;
	float: right;
  margin-bottom: 50px;
}

.jumbotron {
  width: 100%;
}

