// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'slick-carousel/slick/slick.scss';
// endbower

@import 'variables.scss';
@import 'mixins.scss';
@import 'blog.scss';

.browsehappy {
  background: #ccc;
  color: $black;
  margin: .2em 0;
  padding: .2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  font-family: $title-font;
  font-weight: 300;
  text-shadow: none;
  letter-spacing: 0.04em;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #333;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.lato {
  font-family: $text-font !important;
  font-weight: 300 !important;
}

img {
  max-width: 100%;
}

.img-circle {
  @include border-radius(50%);
}

.glyphicon {
  color: $black;
  margin-right: 10px;
}

ul,
li {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

// Space out content a bit
body {
  font-family: $text-font, sans-serif;
  letter-spacing: 0.04em;
  @include transition(width ease-in 300ms);
  width: 100%;
}

.ryan {
    background: url("/img/ryanhead.png") no-repeat right 90% !important;
    background-size: 24% !important;
}

.backg {
  @include background-cover();
  background: url('/img/whiteboard.png') no-repeat center center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh; 

  .overlay {
    background-color: rgba(58,46,57,0.6);
    padding: 40px;
    height: 100%;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(flex-end);
    
    h2 {
      color: $yellow;
      margin-bottom: 0;
      font-weight: 100;
      font-size: 40px;
    }
  }

  h1 {
    background-color: rgba(14, 135, 149, .9);
    font-family: $title-font;
    left: -12.5%;
    letter-spacing: 1px;
    bottom: 200px;
    color: $white;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    width: 118.1%;

    img {
      height: 50px;
      margin-right: 15px;
      margin-top: -9px;
    }
  }
}


.jumbotron.backg.services {
  background: url('/img/backgrounds/acre.png') no-repeat fixed;
  background-color: $gray;
  background-position: center center;
}

.jumbotron.backg.serverless {
  background: url('/img/backgrounds/serverless.jpg') no-repeat fixed;
  background-size: cover;
  height: 500px;
  padding: 0;
  
  .overlay {
    @include justify-content(center);
    text-align: left;
    padding-left: 10%;
  }
}

h1,
h2 {
  color: $black;
  font-family: $title-font;
  text-transform: uppercase;
}

// SECTION STYLINGS
section {
  margin: 0;

  &.jumbotron:nth-child(even) {
    background: $darkgray;
  }

  &.jumbotron:nth-child(odd) {
    background: $gray;
    
    a.btn {
      background: $gray;
    }
  }

  &.jumbotron.i.first p {
    font-size: 22px;
    line-height: 36px;
  }

  &.jumbotron.i:nth-child(odd) {
    background: $gray;
  }

  &.jumbotron.i:nth-child(even) {
    background: $darkgray;
  }

  &.jumbotron.w {
    background-color: $white !important;
    
    a.btn {
      background-color: $white !important;
    }
  }
  &.jumbotron.b {
    background-color: $blue !important;
    color: $white;
    
    h2 {
      color: $white;
    }
    
    a.btn {
      background-color: $white !important;
    }
  }
  &.jumbotron.grey {
    background-color: $gray !important;
    
    a.btn {
      background-color: $gray !important;
    }
  }
}

section.jumbotron {
  p {
    font-size: 18px;
  }
  
  p.lead {
    font-size: 21px;
  }
}

.quote {
  font-family: $title-font;
  font-size: 3em;
  padding: 50px 0;
  text-align: center;
  color: $white; 
  letter-spacing: .04em;
  line-height: 1.5em;
  background-color: $darkgray !important;

 
  span {
    color: $yellow;
    font-size: 2em;
    vertical-align: middle;
  }

  &.testimonial {
    font-size: 1.2em;
    background-color: $gray !important;
    color: $black;
    padding: 30px 10% 50px; 
    
    a {
      color: $blue;
      font-weight: bold;
    }
    
    blockquote {
      line-height: 1.7em;
      font-size: 1.5em;
      margin-top: 75px;
    }
    
    
    blockquote.long {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
      column-gap: 40px;
      font-size: 1em;
      margin-top: 0;
    }
    
    blockquote::before {
      color: $blue;
      content: "\201C";
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.45em;
      font-weight: 700;
    }
    blockquote::after {
      color: $blue;
      content: "\201D";
      font-size: 4em;
      line-height: 0.1em;
      margin-left: 0.25em;
      vertical-align: -0.45em;
      font-weight: 700;
    }
    
    .slick-prev, .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
    }
    
    .slick-prev {
      left: -60px;
      
      &:before {
        content: '<';
        color: $blue;
        font-size: 40px;
        font-weight: 700;
      }
    }
    
    .slick-next {
      right: -60px;
      
      &:before {
        content: '>';
        color: $blue;
        font-size: 40px;
        font-weight: 700;
      }
    }

    img {
      border-radius: 50%;
      width: 64px;
      float: right;
      margin-left: 10px;
    }
    
    h2 {
      margin-top: 30px;
      color: $blue;
    }
    
    h3, h4 {
      text-align: right;
      color: $black;
    }
    
    h3 {
      margin-top: 5px;
    }
    
    span {
      color: $blue;
      font-size: 1.4em;
    }
  }
}

blockquote {
  border-left: 0;
  font-size: inherit;
  margin: 0;
  padding: 30px 0; 
  font-weight: 300;
}

ul.feat {
  display: inline-block;
  font-size: 2em;
  margin: 10px auto 20px;
  text-align: left;
}

.jumbotron.choice {
  height: 400px; 
  padding: 0;
  > div {
    transform: scale(1);
    @include transition(all .2s ease-in-out);
    
    &:hover {
      transform: scale(.85);
      cursor: pointer;
    }
  }
  > div a {
    height: 400px; 
    
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
    
    
  }
  
  .gray {
    background-color: $darkgray;
    h2 {
      color: $yellow;
    }
  }
  .blue {
    background-color: $blue;
    h2 {
      color: $white;
    }
  }
}

// Custom page header

.header {
  height: 40px;
  background-color: transparent;
  border: 0;
  color: $blue;
  min-height: 40px;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index:100000;

  @include transition(background-color 300ms);
  .logo.blue {
    display: inline; 
  }
  
  &.white {
    background-color: rgba(252, 252, 252, 0.80);
    
    .logo.blue {
      display:none;
    }
    
    #menu {
      span, span:before, span:after {
        background: $blue;
      }
    }
    
  }
  
  #menu {
    float: right;
    margin: 4px 10px 0 0; 
    color: $white;
    font-family: $text-font;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em;
    
    &:hover {
      cursor: pointer;
    }
    span, span:before, span:after {
      background: $white;
    }
  }
  
  &.blue {
     background-color: rgba(0, 129, 144, 0.80) !important;
     border-bottom: none;
     
     .logo.blue {
       display: inline; 
     }
     
     #menu {
      span, span:before, span:after {
        background: $white !important;
      }
    }
  }
  
  .logo {
    color: $blue;
    font-family: $title-font;
    font-size: 30px;
    font-weight: 300;
    left: 15px;
    line-height: 24px;
    max-width: 50%;
    position: absolute;
    top: 3px;
    vertical-align: bottom;

    img {
      width: 230px;
    }
  }

  .icon {
    margin-left: 20px;
    width: 198px;
  }
}

.menu { display:block;
    $menu-width: 250px;
    > div { background-color: rgba(0, 129, 144, 0.80); position: fixed; z-index:1000000; top:40px; width:$menu-width !important; height: calc(100% - 40px); @include transition(-webkit-transform ease-in 300ms 20ms); @include transition(transform ease-in 300ms 20ms);
        &.left { left:$menu-width*-1; }
        &.show.left {
          @include transform(translate3d($menu-width, 0, 0)); 
          overflow: auto;
        }

        &.right { right:$menu-width*-1; }
        &.show.right { @include transform(translate3d($menu-width*-1, 0, 0));}
    }
}

.menu {
  
  ul {
    margin-top: 30px;
  }
  li {
    display: block;
    text-align: center;
    
    a {
      color: $white !important;
      font-family: $title-font;
      font-size: 1.5em;
      font-weight: 100;
      display: block;
      padding: 10px 0;
    }
    
    &:hover {
      background-color: rgba(255,255,255,.8) !important;
      
      a {
        color: $darkgray !important;
      }
    }
  }
  .circles {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;

    > div {
      @include border-radius(50%);
      border: 1px solid $white;
      display: inline-block;
      height: 32px;
      text-align: center;
      width: 32px;

      + div {
        margin-left: 10px;
      }

      img {
        margin-top: 8px;
        vertical-align: top;
        width: 16px;

        &.linkedin {
          width: 13px;
        }
      }

      a {
        display: block;
        height: 32px;
      }
    }
  }
}

div img {
  max-width: 100%;
}

// Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

// Newsletter Sign Up
#mc_embed_signup {
  
  padding-bottom: 75px;
  
  input.email {
    height: 52px !important;
    display: inline-block !important;
    margin-right: 10px !important;
    color: $blue !important;
    border-radius: 0 !important;
    font-family: $title-font !important;
    font-size: 20px !important;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  input[type="submit"] {
    margin: 0 !important;
    
    &:hover, &:focus, &:active {
      color: $blue !important;
    }
  }
  
  ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: $blue !important;
  }
}

// Custom page footer
.footer {
  background-color: $blue;
  border-top: 1px solid $blue;
  color: $white;
  font-family: $title-font;
  font-weight: 300;
  overflow: auto;
  padding-bottom: 30px;
  padding-top: 30px;

  a {
    color: $white;
  }

  img.logo {
    height: 25px;
    margin: 0 0 20px;

    + h3 {
      display: inline;
    }
  }

  .nav-left {
    display: inline;
    float: left;
  }

  .footerlinks {
    li {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;

      ul {
        display: block;

        li {
          display: block;

          a {
            color: #ddd;
          }
        }
      }

    }
  }

  .circles {
    float: right;

    > div {
      @include border-radius(50%);
      border: 1px solid $white;
      display: inline;
      float: left;
      height: 64px;
      text-align: center;
      width: 64px;

      + div {
        margin-left: 10px;
      }

      img {
        margin-top: 16px;
        vertical-align: top;
        width: 32px;

        &.linkedin {
          width: 27px;
        }
      }

      a {
        display: block;
        height: 64px;
      }
    }
  }
}

// CONTACT PAGE
.contact {
  font-size: 16px;
}

// COOKIES
#catapult-cookie-bar {
  button + a {
    color: $white !important;
  }
}

// TWITTER
div#tweecool {
  div.tweets_txt {
    background: url('/img/tweet.png') no-repeat left center;
    font-size: 25px;
    line-height: 50px;
    min-height: 63px;
    padding-left: 125px;
    text-align: left;

    a {
      color: $blue;
      font-weight: bold;
    }
  }

  p.tweet-details {
    display: none;
  }
}

// TEAM
.team {
  margin-bottom: 20px;

  img.profile {
    @include border-radius(50%);
    max-width: 250px;
    width: 100%;
  }

  p {
    margin: 0 0 10px !important;
    text-align: left;
  }

  .connect {
    display: block;
    text-align: right;

    a + a {
      margin-left: 15px;
    }

    img {
      width: 24px;
    }
  }
}

// PORTFOLIO
.portfolio {
  .portfolio-image-container {
    height: 160px;
    overflow: hidden;

    img.portfolio-image {
      @include border-radius(1%);
      max-width: 250px;
      width: 100%;
    }
  }
}

// Main marketing message and sign up button
.jumbotron {
  background-color: $white;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
  text-align: center;

  h1 {
    color: $blue;

    img {
      height: 50px;
      margin-right: 15px;
      margin-top: -9px;
    }
  }

  h2 {
    color: $blue;
  }

  p {
    color: $black;
    margin: 50px 0;
    line-height: 30px;
    letter-spacing: .03em;

    a {
      color: $blue;
      font-weight: 600;
    }
  }

  ul.details {
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: left;
    width: 80%;

    li {
      background: url("/img/ryanhead.png") no-repeat center left;
      background-size: 19px 19px;
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 24px;
      text-align: left;
      width: 49%;
      vertical-align: middle;
    }
  }

  .techs {

    text-align: left;

    img {
      max-width: 15%;
      width: 48px;
      margin-right: 10px;
      @include transition(all .2s ease-in-out);
      @include border-radius(50%);

      &:hover {
        @include transform(scale(1.1));
      }
    }
  }

  > .techs {
    margin: 0 auto;
    text-align: center;
  }

  &.circles {
    > div {
      @include border-radius(50%);
      border: 1px solid $blue;
      display: inline-block;
      height: 128px;
      text-align: center;
      width: 128px;

      + div {
        margin-left: 10%;
      }

      img {
        margin-top: 33px;
        vertical-align: top;
        width: 64px;

        &.linkedin {
          width: 55px;
        }
      }

      a {
        display: block;
        height: 128px;
      }
    }
  }

  div.fluid_service {
    img {
      @include border-radius(50%);
      float: left;
      margin-right: 15px;
      width: 64px;
    }

    h3 {
      color: $blue;
      text-align: left;
    }

    p {
      margin: 0;
      text-align: left;
    }

    &:nth-child(odd) {
      img {
        float: right;
        margin-left: 15px;
        margin-right: 0;
      }

      h3 {
        text-align: right;
      }

      p {
        text-align: right;
      }
    }

    + .fluid_service {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

.left-paragraph {
  text-align: left;
}

// SLIDER ANIMATION
/*@keyframes slider {
  0% { @include transform(translateX(0)); }
  20% { @include transform(translateX(0)); }
  25% { @include transform(translateX(-299px)); }
  45% { @include transform(translateX(-299px)); }
  50% { @include transform(translateX(-598px)); }
  70% { @include transform(translateX(-598px)); }
  75% { @include transform(translateX(-897px)); }
  95% { @include transform(translateX(-897px)); }
  100% { @include transform(translateX(-1196px)); }
}*/

div#screen {
  text-align: center;

  .phoneoverlay,
  .phoneoverlay div img {
    width: 299px; height: 530px;
  }

  .phoneoverlay div img {
    float: left;
    margin-left: 3px;
    margin-top: 1px;
  }

  .wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 356px;
  }

  .phoneoverlay {
    overflow: hidden;
    position: absolute;
    right: 28px;
    top: 103px;

    div {
      @include animation-name(slider);
      @include animation-duration(10s);
      @include animation-timing-function(ease-in-out);
      @include animation-iteration-count(infinite);
      width: 1495px;
    }
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

div.error {
  display: none;
}

//  MODAL
.modal {
  .modal-header {
    background-color: $blue;
  }

  #fscf_captcha_image_div1 {
    float: left;
  }
}

//PROJECTS
.backg-projects {
  @include background-cover();
  min-width: 100% !important;
  background: url('/img/backgrounds/office.jpg') no-repeat center center;
  background-color: rgba(58,46,57,0.6);
  height: 100vh;
  
  .overlay {
    background-color: rgba(58,46,57,0.6);
    padding: 40px;
    height: 100%;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(flex-end);
    
    h2 {
      color: $yellow;
      margin-bottom: 0;
      font-weight: 100;
      font-size: 40px;
    }
    
    a {
      color: $yellow;
    }
  }
  
  &.backg-services {
    background: url('/img/backgrounds/services.jpg') no-repeat center center;
  }
  &.backg-about {
    background: url('/img/backgrounds/macbookwankers.jpg') no-repeat center center;
    @include filter(contrast(1.2) brightness(0.7));
    
  }
  &.backg-blog {
    background: url('/img/backgrounds/blog.jpg') no-repeat center center;
    @include filter(contrast(1.2) brightness(1.3));
  }
  &.backg-founder {
    background: url('/img/backgrounds/founder.jpg') no-repeat center center;
  }
  &.backg-404 {
    background: url('/img/backgrounds/404.jpg') no-repeat center center;
  }
  
  &.backg-small {
    height: 400px;
    background: url('/img/backgrounds/projects.jpg') no-repeat center center;
    
    .overlay {
      @include justify-content(center);
      text-align: center;
      
      a, a:hover {
        color: $yellow;
      }
    }
  }
  &.backg-business {
    background: url('/img/backgrounds/business.jpg') no-repeat center center;
  }
}

.projects {
  padding: 0;
  
  h2, h3 {
    text-transform: none;
  }

  .project {
    padding: 0;
    height: 280px;
    overflow: hidden;
    
    &:hover .project-image-container {
      @include transform(scale(0.9));
    }
    
    .project-image-container {
        width: 100%;
        height: 280px;
        overflow: hidden;
        @include transition(all .2s ease-in-out);
        text-align: center;

        img.project-image {
          max-height: 100%;
        }
    }
    
    &:hover {
      .project-details {
        top: 0;
      }
    }
    .project-details {
      position: absolute; 
      padding: 15px;
      top: 100%; 
      width: 100%;
      height: 100%;
      @include transition(all 0.2s ease-in);
      background-color: rgba(58,46,57,0.6);
      text-align: center;
      
      h2 {
        margin: 20px 0 10px;
        padding: 0;
        font-weight: 100;
        font-size: 40px;
        
        a {
          color: $white;
        }
        
        &:before, &:after {
          content: none;
          width:0;
        }
      }
  
      h4 {
        font-size: 11px;
        color: $white;
  
        a {
          color: $yellow;
          font-weight: bold;
        }
      }
  
      > p {
        font-size: 13px;
        line-height: 17px;
        color: $white;
      }
  
      .techs {
        text-align: center;
        margin: 30px 0;
  
        img {
          display: inline-block;
          width: 32px;
          margin: 0 5px;
          @include transition(all .2s ease-in-out);
          @include border-radius(50%);
  
          &:hover {
            @include transform(scale(1.1));
          }
        }
      }

      ul.cat {
        padding: 0;
        margin: 0;

        li {
          padding: 2px;
          font-size: 0.7em;
          border: 1px solid white;
          display: inline-block;
          margin: 0;
          color: white;

          &+li {
            margin-left: 5px;
          }

        }
      }
    }
  }
}

.listing {
  padding: 0;
  
  h2, h3 {
    text-transform: none;
  }
  
  > h2 {
    clear: both;
    margin: 0;
    text-align: left;
    display: block;
    padding: 80px 30px;
    color: $black;
    text-transform: uppercase;
    font-size: 50px;
  }
  
  &.home {
    margin-bottom: 50px;
    
    
    > h2 {
      font-size: 30px;
      text-transform: none;
      text-align: center;
    }
    
  }

  .list-item {
    padding: 0;
    height: 380px;
    overflow: hidden;
    @include transition(all .2s ease-in-out);
    
    &:hover .list-item-image-container {
      @include transform(scale(0.9));
      
    }
    
    .list-item-image-container {
        width: 100%;
        height: 100%;
        @include background-cover();
        @include transition(all .2s ease-in-out);
        @include filter(blur(2px));
    }
    
    &:hover {
      .list-item-details {
        
        @include transform(scale(0.9));
      }
    }
    .list-item-details {
      position: absolute; 
      padding: 15px;
      top: 0;
      width: 100%;
      height: 100%;
      @include transition(all 0.2s ease-in);
      background-color: rgba(58,46,57,0.6);
      text-align: center;
      @include display-flex();
      @include flex-direction(column);
      @include justify-content(flex-end);
      
      
      h2 {
        margin-bottom: 10px;
        font-weight: 100;
        font-size: 40px;
        color: $yellow;
        
        a {
          color: $white;
        }
      }
  
      h4 {
        font-size: 11px;
        color: $white;
  
        a {
          color: $yellow;
          font-weight: bold;
        }
      }
  
      > p {
        font-size: 13px;
        line-height: 17px;
        color: $white;
      }
  
      .techs {
        text-align: center;
        margin: 30px 0;
  
        img {
          width: 32px;
          margin: 0 5px;
          @include transition(all .2s ease-in-out);
          @include border-radius(50%);
  
          &:hover {
            @include transform(scale(1.1));
          }
        }
      }
    }
  }
}

//Menu button

$button-width: 32px;                    // The width of the button area
$button-height: 32px;                   // The height of the button area
$bar-thickness: 4px;                    // The thickness of the button bars
$button-pad: 3px;                      // The left/right padding between button area and bars.
$button-bar-space: 4px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration

#menu {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration, transform $button-transistion-duration;
  background-color: transparent;
}

#menu:focus {
  outline: none;
}

#menu span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: $blue;
}

#menu span::before,
#menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $blue;
  content: "";
}

#menu span::before {
  top: -$bar-thickness - $button-bar-space;
}

#menu span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

#menu span {
  transition: transform $button-transistion-duration;
}

/* active state, i.e. menu open */

#menu.is-active {
  transform: translateX(-82px);
}

#menu.is-active span {
  transform: rotate(90deg);
  background-color: $white;
}

#menu.is-active span::before,
#menu.is-active span::after {
  background-color: $white;
}

/* Bounce To Left */
.btn, .join-waitlist {
  display: inline-block;
  vertical-align: middle;
  background-color: $white;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: none;
  z-index: 1;
  border-radius: 0 !important;
  font-size: 17px;
  font-weight: 300;
  color: $darkgray;
  margin: 20px 0;
  padding: 13px 20px;
  border: 1px solid $blue;
  
  &:hover {
    background-color: white;
    border: 1px solid $blue;
  }
}
.btn:after, .join-waitlist:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $blue;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active, .join-waitlist:hover, .join-waitlist:focus, .join-waitlist:active {
  color: $white;
}
.btn:hover:after, .btn:focus:after, .btn:active:after, .join-waitlist:hover:after, .join-waitlist:focus:after, .join-waitlist:active:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.btn:before, .join-waitlist:before {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.02s;
  transition-duration: 0.02s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  top: calc(50% - 10px);
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent $blue transparent transparent;
}
.btn:hover:before, .btn:focus:before, .btn:active:before, .join-waitlist:hover:before, .join-waitlist:focus:before, .join-waitlist:active:before {
  opacity: 1;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

//TYPEFORMS
#typeform-overlay, #typeform-wrapper {
  top: 40px !important;
  @include calc(height, "100vh - 40px");
}

// Responsive: Portrait tablets and up
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }

  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}

// TESTING CONTACT FORM STYLES
.ss-q-short,
.ss-q-long {
  border: 1px solid $blue;
  display: block;
  height: 30px;
  margin: 0;
  max-width: 550px;
  text-align: left;
  width: 99%;
}

.ss-q-long {
  height: 120px;
}

.ss-q-item-label {
  display: inline-block;
  font-weight: 300;
  margin: 10px 0;
  max-width: 100%;
  text-align: left;
}

#ss-submit {
  background-color: $blue;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  padding: 10px 15px;
}

#ss-form {
  margin: 0 auto;
  max-width: 555px;
  text-align: left;
  width: 99%;
}

@media (min-width: 1200px)
{
  .container {
    width: 970px;
  }
}

@media (min-width: 1300px)
{
  .container {
    width: 1170px;
  }
}

@media (max-width: 1024px)
{
  .home-backg {
    max-width: 100%;
    min-height: 400px !important;
  }

  .backg {
    background: url('/img/whiteboard_sm.png') no-repeat center center;

    h1 {
      left: initial;
      width: 100%;
    }
  }

  .quote {
    font-size: 1.5em;
  }

  .jumbotron {
    padding: 30px 10px;

    &.circles {
      > div {
        height: 64px;
        width: 64px;

        + div {
          margin-left: 10%;
        }

        img {
          margin-top: 15px;
          width: 32px;

          &.linkedin {
            width: 26px;
          }
        }

        a {
          display: block;
          height: 64px;
        }

        + div {
          margin-left: 3%;
        }
      }
    }
  }

  .jumbotron.backg.services {
    background: url('/img/backgrounds/acre.png') no-repeat;

    background-color: $gray;
    background-position: center center !important;
    min-height: 200px;

  }

  .jumbotron ul.details {
    font-size: 14px;
    width: 90%;

    li {
      background-size: 16px 16px;
      padding-left: 25px;
    }
  }

  .jumbotron p {
    font-size: 17px;
    margin: 25px 0;
  }

  .jumbotron.i.first p {
    font-size: 17px !important;
  }

  div#tweecool div.tweets_txt {
    background-size: 32px;
    font-size: 18px;
    min-height: 32px;
    padding-left: 70px;
  }

  .jumbotron .techs {
    margin-bottom: 20px;
    max-width: 100%;

    img {
      margin-bottom: 10px;
    }
  }

  .footer {
    padding: 30px 10px;

    .circles {
      clear: both;
      display: block;
      padding-top: 20px;

      > div {
        height: 32px;
        width: 32px;

        img {
          width: 16px;
          margin-top: 8px;


          &.linkedin {
            width: 13px;
          }
        }

        a {
          height: 32px;
        }
      }
    }
  }

}
