$icon-font-path: '../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

//VARIABLES

$black: #000;
$lightgrey: #e3e3e3;
$blue: #0e8795;
$gray: #303030;
$title-font: 'Raleway';

//MIXINS

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin background-cover() {
    -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
}

@mixin transition($transition-definition) {
  transition: $transition-definition;
}

@mixin transform($transform-definition) {
  transform: $transform-definition;
}

@mixin animation-name($animation-definition) {
  animation-name: $animation-definition;
}

@mixin animation-duration($animation-duration) {
  animation-duration: $animation-duration;
}

@mixin animation-timing-function($animation-timing-funtion) {
  animation-timing-function: $animation-timing-funtion;
}

@mixin animation-iteration-count($animation-iteration-count) {
  animation-iteration-count: $animation-iteration-count;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: $title-font;
  font-weight: 400;
  text-shadow: none;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #333;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.lato {
  font-family: Lato !important;
  font-weight: 300 !important;
}

img {
  max-width: 100%;
}

.img-circle {
  @include border-radius(50%);
}

.glyphicon {
  color: $black;
  margin-right: 10px;
}

ul,
li {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

// Space out content a bit
body {
  font-family: 'Lato', sans-serif;
  padding-top: 40px;
}

.backg {
  @include background-cover();
  background: url('/img/whiteboard.png') no-repeat center center fixed;
  min-height: 400px;
  padding: 0;
  position: relative;

  .overlay {
    background-color: rgba(225, 225, 225, .5);
    min-height: 400px;
    width: 100%;
  }

  h1 {
    background-color: rgba(14, 135, 149, .7);
    bottom: 0;
    color: #fff;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    width: 100%;

    img {
      height: 50px;
      margin-right: 15px;
      margin-top: -9px;
    }
  }
}

.jumbotron.backg.services {
  background: url('/img/devices.png') no-repeat fixed;
  background-color: $lightgrey;
  background-size: contain !important;
}

h1,
h2 {
  color: $black;
  font-family: $title-font;
}

// SECTION STYLINGS
section {
  margin: 0;

  &.jumbotron:nth-child(odd) {
    background: $lightgrey;
  }

  &.jumbotron.i:nth-child(odd) {
    background: #fff !important;
  }

  &.jumbotron.i:nth-child(even) {
    background: $lightgrey;
  }

  &.jumbotron.w {
    background-color: #fff !important;
  }
}

.quote {
  font-family: $title-font;
  font-size: 3em;
  padding: 50px 0;
  text-align: center;

  span {
    color: $blue;
    font-size: 2em;
    vertical-align: middle;
  }
}

blockquote {
  border-left: 0;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul.feat {
  display: inline-block;
  font-size: 2em;
  margin: 10px auto 20px;
  text-align: left;
}

.navbar-inverse .navbar-toggle {
  background-color: $blue;
  border: 0;
  margin-top: 13px;

  &:hover {
    background-color: $blue;
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $blue;
}


.navbar-right {
  margin: 15px 0 0;

  li {
    display: inline-block;

    + li {
      margin-left: 20px;
    }

    a {
      color: $blue !important;
      font-family: $title-font;
      font-size: 1.5em;
      font-weight: 300;
    }
  }
}

.btn-primary {
  background-color: $blue;
  border: 1px solid $blue;
  color: #fff;

  &:hover {
    background-color: #fff;
    border: 1px solid $blue;
    color: $blue;
  }
}

div img {
  max-width: 100%;
}

// Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

// Custom page header
.header {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid $blue;
  color: $blue;
  min-height: 60px;
  opacity: .95;


  // Make the masthead heading the same height as the navigation
  h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
  }

  .logo {
    color: $blue;
    font-family: $title-font;
    font-size: 30px;
    font-weight: 300;
    left: 15px;
    line-height: 24px;
    position: absolute;
    top: 15px;
    vertical-align: bottom;
    max-width: 50%;

    img {
        width: 230px;
    }
  }

  .icon {
    margin-left: 20px;
    width: 198px;
  }
}

// Custom page footer
.footer {
  background-color: $blue;
  border-top: 1px solid $blue;
  color: #fff;
  font-family: $title-font;
  font-weight: 300;
  overflow: auto;
  padding-bottom: 30px;
  padding-top: 30px;

  a {
    color: #fff;
  }

  img.logo {
    height: 25px;
    margin: 0 0 20px;

    + h3 {
      display: inline;
    }
  }

  .nav-left {
    display: inline;
    float: left;
  }

  .footerlinks {
    li {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;

      ul {
        display: block;

        li {
          display: block;

          a {
            color: #ddd;
          }
        }
      }

    }
  }

  .circles {
    float: right;

    > div {
      @include border-radius(50%);
      border: 1px solid #fff;
      display: inline;
      float: left;
      height: 64px;
      text-align: center;
      width: 64px;

      + div {
        margin-left: 10px;
      }

      img {
        margin-top: 16px;
        vertical-align: top;
        width: 32px;

        &.linkedin {
          width: 27px;
        }
      }

      a {
        display: block;
        height: 64px;
      }
    }
  }
}

// CONTACT PAGE
.contact {
  font-size: 16px;
}

// COOKIES
#catapult-cookie-bar {
  button + a {
    color: #fff !important;
  }
}

// TWITTER
div#tweecool {
  div.tweets_txt {
    background: url('/img/tweet.png') no-repeat left center;
    font-size: 25px;
    line-height: 30px;
    min-height: 63px;
    padding-left: 90px;
    text-align: left;

    a {
      color: $blue;
      font-weight: bold;
    }
  }

  p.tweet-details {
    display: none;
  }
}

// TEAM
.team {
  margin-bottom: 20px;

  img.profile {
    @include border-radius(50%);
    max-width: 250px;
    width: 100%;
  }

  p {
    margin: 0 0 10px !important;
    text-align: left;
  }

  .connect {
    display: block;
    text-align: right;

    a + a {
      margin-left: 15px;
    }

    img {
      width: 24px;
    }
  }
}

// Main marketing message and sign up button
.jumbotron {
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
  text-align: center;

  h1 {
    color: $blue;

    img {
      height: 50px;
      margin-right: 15px;
      margin-top: -9px;
    }
  }

  h2 {
    color: $blue;
  }

  .btn {
    font-size: 17px;
    margin: 20px 0;
    padding: 13px 20px;
  }

  p {
    color: #000;
    margin: 50px 0;

    a {
      color: $blue;
      font-weight: 600;
    }
  }

  ul.details {
    font-size: 21px;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: left;
    width: 80%;

    li {
      background: url('/img/ryan_icon.png') no-repeat center left;
      background-size: 24px 24px;
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 42px;
      text-align: left;
      width: 49%;
    }
  }

  .techs {

    text-align: left;

    img {
      @include border-radius(50%);
      width: 64px;
      max-width: 15%;

    }

    img + img {
      margin-left: 10px;
    }
  }

  > .techs {
    margin: 0 auto;
    max-width: 80%;
  }

  &.circles {
    > div {
      @include border-radius(50%);
      border: 1px solid $blue;
      display: inline-block;
      height: 128px;
      text-align: center;
      width: 128px;

      + div {
        margin-left: 10%;
      }

      img {
        margin-top: 33px;
        vertical-align: top;
        width: 64px;

        &.linkedin {
          width: 55px;
        }
      }

      a {
        display: block;
        height: 128px;
      }
    }
  }

  div.fluid_service {
    img {
      @include border-radius(50%);
      float: left;
      margin-right: 15px;
      width: 64px;
    }

    h3 {
      color: $blue;
      text-align: left;
    }

    p {
      margin: 0;
      text-align: left;
    }

    &:nth-child(odd) {
      img {
        float: right;
        margin-left: 15px;
        margin-right: 0;
      }

      h3 {
        text-align: right;
      }

      p {
        text-align: right;
      }
    }

    + .fluid_service {
      margin-top: 30px;
    }
  }
}

// SLIDER ANIMATION
/*@keyframes slider {
  0% { @include transform(translateX(0)); }
  20% { @include transform(translateX(0)); }
  25% { @include transform(translateX(-299px)); }
  45% { @include transform(translateX(-299px)); }
  50% { @include transform(translateX(-598px)); }
  70% { @include transform(translateX(-598px)); }
  75% { @include transform(translateX(-897px)); }
  95% { @include transform(translateX(-897px)); }
  100% { @include transform(translateX(-1196px)); }
}*/

div#screen {
  text-align: center;

  .phoneoverlay,
  .phoneoverlay div img {
    width: 299px; height: 530px;
  }

  .phoneoverlay div img {
    float: left;
  }

  .wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 356px;
  }

  .phoneoverlay {
    overflow: hidden;
    position: absolute;
    right: 28px;
    top: 103px;

    div {
      @include animation-name(slider);
      @include animation-duration(10s);
      @include animation-timing-function(ease-in-out);
      @include animation-iteration-count(infinite);
      width: 1495px;
    }
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

div.error {
  display: none;
}

//  MODAL
.modal {
  .modal-header {
    background-color: $blue;
  }

  #fscf_captcha_image_div1 {
    float: left;
  }
}


// Responsive: Portrait tablets and up
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }

  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}

// TESTING CONTACT FORM STYLES
.ss-q-short,
.ss-q-long {
  border: 1px solid #0e8795;
  display: block;
  height: 30px;
  margin: 0;
  max-width: 550px;
  text-align: left;
  width: 99%;
}

.ss-q-long {
  height: 120px;
}

.ss-q-item-label {
  display: inline-block;
  font-weight: 300;
  margin: 10px 0;
  max-width: 100%;
  text-align: left;
}

#ss-submit {
  background-color: #0e8795;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  padding: 10px 15px;
}

#ss-form {
  margin: 0 auto;
  max-width: 555px;
  text-align: left;
  width: 99%;
}


@media (min-width: 1200px)
{
  .container {
    width: 970px;
  }
}

@media (min-width: 1300px)
{
  .container {
    width: 1170px;
  }
}

@media (max-width: 1024px)
{
  .backg {
    background: url('/img/whiteboard_sm.png') no-repeat center center;
  }

  .quote {
      font-size:1.5em;
  }

  .jumbotron {
    padding: 30px 10px;

    &.circles {
      > div {
        height: 64px;
        width: 64px;

        + div {
          margin-left: 10%;
        }

        img {
          margin-top: 15px;
          width: 32px;

          &.linkedin {
            width: 26px;
          }
        }

        a {
          display: block;
          height: 64px;
        }

        + div {
          margin-left: 3%;
        }
      }
    }
  }

  .jumbotron.backg.services {
    background: url("/img/devices.png") no-repeat;
    background-color: $lightgrey;
    min-height: 200px;
    background-position: center center !important;

  }

  .jumbotron ul.details {
      font-size: 14px;
       width: 90%;

       li {
          background-size: 16px 16px;
          padding-left: 25px;
       }
  }

  .jumbotron p {
    font-size: 17px;
      margin: 25px 0;
  }

  div#tweecool div.tweets_txt {
    font-size: 18px;
    min-height: 32px;
    padding-left: 40px;
    background-size: 32px;
  }

  .jumbotron .techs {
    max-width: 100%;
    margin-bottom: 20px;

    img {
      margin-bottom: 10px;
    }
  }

  .footer {
    padding: 30px 10px;

    .circles {
      display: block;
      clear:both;
      padding-top: 20px;

      > div {
        height: 32px;
        width: 32px;

        img {
          width: 16px;
          margin-top: 8px;


          &.linkedin {
            width: 13px;
          }
        }

        a {
          height: 32px;
        }
      }
    }
  }

}

// RETINA DISPLAYS
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  body {
    padding-top: 50px;
  }
}
