@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin background-cover() {
    -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
}

@mixin transition($transition-definition) {
  transition: $transition-definition;
}

@mixin transform($transform-definition) {
  transform: $transform-definition;
}

@mixin animation-name($animation-definition) {
  animation-name: $animation-definition;
}

@mixin animation-duration($animation-duration) {
  animation-duration: $animation-duration;
}

@mixin animation-timing-function($animation-timing-funtion) {
  animation-timing-function: $animation-timing-funtion;
}

@mixin animation-iteration-count($animation-iteration-count) {
  animation-iteration-count: $animation-iteration-count;
}
