@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
$icon-font-path: '../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$blue: #008190;
$yellow: #F9D43A;
$darkgray: #50514F;
$black: #343434;
$white: #fcfcfc;
$gray: #d7d7d7;

$title-font: 'Raleway';
$text-font: 'Oxygen';