$icon-font-path: '../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$black: #343434;
$white: #FCFCFC;
$blue: #008190;
$pink: #E2077C;
$gray: #D7D7D7;

$title-font: 'Roboto';
$text-font: 'Roboto';
