@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
$icon-font-path: '../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$black: #343434;
$white: #fcfcfc;
//$blue: #008190;
//$pink: #e2077c;
$gray: #d7d7d7;

$title-font: 'Raleway';
$text-font: 'Oxygen';

//testing new palette
$yellow: #FBF2C0;
$blue: #008190;
$pink: #e2077c;
$darkgray: #50514F;