---
layout: subpage
title: Workflow
headBackground: yellowBg
---

<section class="home-backg backg-projects">
  <div class="subpage-topHeading yellow">
     <div class="page-title">
    <h2>How we work</h2>
    <div class="bottom-border yellow"></div>
    </div>
    <img class="space-shuttle-outline yellow" src="/img/backgrounds/space_shuttle_outlineYellow.png" alt="space shuttle outline" />
    </section>
    <section class="container">
    <div class="col-sm-12 page-intro">
      <p class="lead">The journey may seem daunting, but we're here to help every step of the way. We work closely with each client, maintaining an open channel of communication through to launch and beyond. Think of us as a partner in your journey.</p>
      <div class="bottom-border yellow"></div>
    </div>
  </div>
</section>

<section class="workflow">

  <div class="col-xs-12">
    <div class="desktop">
      {% include workflow_h.html %}
    </div>
    <div class="mobile">
      {% include workflow_v.html %}
    </div>
</div>

</section>
