---
layout: subpage
title: Workflow
headBackground: yellowBg
---

<section class="home-backg backg-projects">
  <div class="overlay">
    <h2 class="subpage-topHeading yellow">Projects</h2>
    <img class="space-shuttle-outline yellow" src="/img/backgrounds/space_shuttle_outlineYellow.png" alt="space shuttle outline" />
    <div class="col-sm-12 page-intro intro-border">
      <h3 class="intro-border">How we work ..</h3>
    </div>
  </div>
</section>

<section class="workflow">

  <div class="col-xs-12">
    <div class="desktop">
      {% include workflow_h.html %}
    </div>
    <div class="mobile">
      {% include workflow_v.html %}
    </div>
</div>

</section>
