---
layout: subpage
title: How we work
headBackground: yellowBg
---

<section class="home-backg backg-projects">
  <div class="subpage-topHeading yellow">
     <div class="page-title">
    <h2>How we work</h2>
    <div class="bottom-border yellow"></div>
    </div>
    <img class="space-shuttle-outline yellow" src="/img/backgrounds/shuttle-outline-yellow.svg" alt="space shuttle outline" />
    </section>
    <section class="container">
    <div class="col-sm-12 page-intro">
      <p class="lead">The journey may seem daunting, but we're here to help every step of the way. We work closely with each client, maintaining an open channel of communication through to launch and beyond. Think of us as a partner on your journey.</p>
      <div class="bottom-border yellow"></div>
    </div>
  </div>
</section>

<section class="workflow">
  <h3>Getting Started</h3>
  <div class="bottom-border yellow"></div>

  <div class="col-xs-12">
    <div class="desktop">
      {% include workflow_h.html %}
    </div>
    <div class="mobile">
      {% include workflow_v.html %}
    </div>
  </div>

  <div class="row">
    <h3>During Development</h3>
    <div class="bottom-border yellow"></div>

    <ul>
      <li class="how-we-work-point col-xs-12 col-md-6">
        <h3>We automate infrastructure and deployment</h3>
        <p>For improved system stability, we believe in automation of infrastructure across both testing and production environments. Where possible we endeavour to implement this at all times.</p>
      </li>

      <li class="how-we-work-point col-xs-12 col-md-6">
        <h3>We create a dedicated testing environment</h3>
        <p>To really test software to its limits it's necessary to have an environment away from production, allowing you to play, test and delete without impacting on the rest of your business.</p>
      </li>

      <li class="how-we-work-point col-xs-12 col-md-6">
        <h3>Software isn't tied to our services</h3>
        <p>We understand you may eventually want to take software development in house. For this reason we design and configure systems in such a way that they can be taken in house at any point from completion of the project.</p>
      </li>

      <li class="how-we-work-point col-xs-12 col-md-6">
        <h3>We show regular small updates</h3>
        <p>In order to keep projects on track and allow us to adapt quickly, we keep the feedback loop short with regular small updates.</p>
      </li>
    </ul>
  </div>

  <div class="row">
    <h3>After Development</h3>
    <div class="bottom-border yellow"></div>

    <ul>
      <li class="how-we-work-point col-xs-12 col-md-6">
        <h3>We provide a free bug fixing period</h3>
        <p>Every project we take on comes complete with a period of free bug fixes.</p>
      </li>

      <li class="how-we-work-point col-xs-12 col-md-6">
        <h3>We continue to advise</h3>
        <p>Our help doesn't stop when we've completed development - we're available to help, advise and mentor you for the next stages of your journey.</p>
      </li>
    </ul>
  </div>
</section>
